@model FootballApp.Models.PlayedMatch

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_matches.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PlayedMatch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._team.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._team.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._result)
        </dt>

        @if (((FootballApp.Models.PlayedMatch)Model)._result == FootballApp.Models.PlayedMatch.Result.win)
        {
            <dd class="color-green">
                @Html.DisplayFor(model => model._result)
            </dd>
        }
        @if (((FootballApp.Models.PlayedMatch)Model)._result == FootballApp.Models.PlayedMatch.Result.lose)
        {
            <dd class="color-red">
                @Html.DisplayFor(model => model._result)
            </dd>
        }
        @if (((FootballApp.Models.PlayedMatch)Model)._result == FootballApp.Models.PlayedMatch.Result.draw)
        {
            <dd class="color-gray">
                @Html.DisplayFor(model => model._result)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.GoalsScored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalsScored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoalsConceded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoalsConceded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
